<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>DashBoards</title>
</head>
<body>
    
    <div class="wrapper">
        <h3>COORDINATOR</h3>
        <div class="inner">
            <ol>
                <li><a href="regCoordinator.html">Registration</a></li><br>
                <li><a href="user.html">Create Project</a></li><br>              
				<li><a href="grades.html">Change Supervisor</a></li><br>
				<li><a href="listQuery.html">Change Topic</a></li><br>
				<li><a href="gradebook.html">View Grades</a></li><br>
				<li><a href="reports.html">Logout</a></li><br>
				
            </ol>
        </div>
    </div>
    
</body>
</html>