<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>DashBoards</title>
</head>
<body>
    
    <div class="wrapper">
        <h3>PROJECT MANAGEMENT SYSTEM</h3>
        <div class="inner">
            <ol>
                <li><a href="regstudent.html">Student</a></li><br>
                <li><a href="registraton_organization.html">Administrator</a></li><br>
                <li><a href="gradebook.html">Supervisor</a></li><br>
                <li><a href="reports.html">Coordinator</a></li><br>
				
            </ol>
        </div>
    </div>
    
</body>
</html>