<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>DashBoards</title>
</head>
<body>
    
    <div class="wrapper">
        <h3>STUDENT</h3>
        <div class="inner">
            <ol>
                <li><a href="regstudent.html">Registration</a></li><br>
                <li><a href="registraton_organization.html">SubmitMilestone</a></li><br>
                <li><a href="gradebook.html">ViewGrades</a></li><br>
                <li><a href="supervisor.html">SelectSupervisor</a></li><br>
				<li><a href="topic.html">SelecTopic</a></li><br>
				<li><a href="reports.html">Logout</a></li><br>
				
            </ol>
        </div>
    </div>
    
</body>
</html>