<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>DashBoards</title>
</head>
<body>
    
    <div class="wrapper">
        <h3>SUPERVISOR</h3>
        <div class="inner">
            <ol>
                <li><a href="regsupervisor.html">Registration</a></li><br>
                <li><a href="user.html">Grade Milestone</a></li><br>              
				<li><a href="gradebook">UploadGrades</a></li><br>
				<li><a href="listQuery.html">ViewQueries</a></li><br>
				<li><a href="reports.html">Logout</a></li><br>
				
            </ol>
        </div>
    </div>
    
</body>
</html>